# Default Haskell ignore
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# XMonad files
xmonad.errors
xmonad.state
xmonad-x86_64-linux
# XMonad Prompt
prompt-history
# XMobar compiled files
xmobar
xmobar.errors
xmonadctl