Config { font = "xft:Bitstream DejaVu Sans Mono Book:size=9:bold:antialias=true"
       , additionalFonts = []
       , borderColor = "#282A36"
       , border = TopB
       , bgColor = "#282A36"
       , fgColor = "#F8F8F2"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True

       -- Weather uses ICAO code, remeber to update the template call too
       -- [("SBPK", "Pelotas - RS"), ("SBAR", "Aracaju - SE")]
       , commands = [ Run Weather "SBAR" [ "--template", "<station>: <tempC>°C"
                                         , "-L", "18"
                                         , "-H", "25"
                                         , "--low"   , "#FF79C6"
                                         , "--normal", "#BD93F9"
                                         , "--high"  , "#FF5555"
                                         ] 36000

                    , Run Cpu [ "--template", "<icon=/home/Jonathas/.xmonad/icons/cpu.xbm/> <total>%"
                              , "-L", "10"
                              , "-H", "80"
                              , "--low"   , "#FF79C6"
                              , "--normal", "#BD93F9"
                              , "--high"  , "#FF5555"
                              ] 20

                    , Run Memory [ "--template", "<icon=/home/Jonathas/.xmonad/icons/mem.xbm/> <usedratio>%"
                                 , "-L", "30"
                                 , "-H", "80"
                                 , "--low"   , "#FF79C6"
                                 , "--normal", "#BD93F9"
                                 , "--high"  , "#FF5555"
                                 ] 20

                    , Run Swap [ "--template", "<usedratio>%"
                                 , "-L", "10"
                                 , "-H", "50"
                                 , "--low"   , "#FF79C6"
                                 , "--normal", "#BD93F9"
                                 , "--high"  , "#FF5555"
                                 ] 20

                    , Run Brightness [ "--template", "<icon=/home/Jonathas/.xmonad/icons/bright.xbm/> <percent>%"
                                     , "-L", "9"
                                     , "-H", "42"
                                     , "--low"   , "#FF79C6"
                                     , "--normal", "#BD93F9"
                                     , "--high"  , "#FF5555"
                                     , "--", "-D", "intel_backlight"
                                     ] 50

                    --, Run Volume "default" "Master" [] 10

                    , Run Date "%A - %d %b(%m) %Y - %H:%M:%S" "date" 10
                    
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template =
         "<icon=/home/Jonathas/.xmonad/icons/Fedora_2.xbm/> \
         \| %UnsafeStdinReader% \
         \} <fc=#8BE9FD>%date%</fc> \
         \{ %SBAR% \
         \| %bright% \
         -- \| %default:Master%\
         \| <action=`gnome-terminal \-\- htop`>%cpu%</action> \
         \| <action=`xdotool key \-\-clearmodifiers Super_L+Shift_L+Return`>%memory% * %swap%</action> \
         \| <action=`xdotool key \-\-clearmodifiers Super_L+Shift_L+c`><fc=#FF5555>[X]</fc></action>"
       }

