Config { font = "-misc-fixed-*-*-*-*-14-*-*-*-*-*-*-*"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "SBPK" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Network "wlp3s0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "bash"
                              ["-c", "amixer sget Master | grep 'Right:' | awk -F'[][]' '{ print $2 }'"] "volume" 1
                    , Run Date "%A - %d %b(%m) %Y - %H:%M:%S" "date" 10
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template =
         "<action=`xdotool key \-\-clearmodifiers Super_L+k` button=1><action=`xdotool key \-\-clearmodifiers Super_L+j` button=3> <fc=#00DDFF>[W]</fc> </action></action>\
         \| %UnsafeStdinReader% \
         \} <fc=#FFAA00>%date%</fc> \
         \{ %SBPK% \
         \| <action=`gnome-terminal \-\- htop`>%cpu%</action> \
         \| <action=`xdotool key \-\-clearmodifiers Super_L+Shift_L+Return`>%memory% * %swap%</action> \
         \| <action=`xdotool key \-\-clearmodifiers Super_L+Shift_L+c`><fc=#FF0000>[X]</fc></action>"
       }

